<% if logged_in? %>
<div class="message-container">
  <h1 align="center">Message Center</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date Received</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Message</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <% @messages.each do |message| %>
    <tbody>
      <tr>
        <th scope="row"><%= message.created_at.localtime %></th>
        <td><%= message.name %></td>
        <td><%= message.email %></td>
        <td><%= message.message %></td>
        <td><%= link_to 'Delete', 
                 contact_path(message.id), 
                             method: :delete, 
                             data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>