<!DOCTYPE html>
<html>

<head>
  <title>Peanuts</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <div class="container">

    <div class="header">
      <h1>Bears Boiled Peanuts</h1>
      <br />
      <h4>Southern Style Boiled Peanuts</h4>
    </div>

    <nav class="nav-container"
      style="border-top: 1px solid black; border-bottom: 1px solid black; padding: 5px; margin: 50px;">
      <ul class="nav-ul">
        <li class="nav-item"><%= link_to "Home", root_path %></li>
        <li class="nav-item"><%= link_to "About", about_path %></li>
        <li class="nav-item"><%= link_to "Local Markets", markets_path %></li>
        <li class="nav-item"><%= link_to "Rent the Cart", catering_path %></li>
        <li class="nav-item"><%= link_to "Contact Us", new_contact_path %></li>
        <% if logged_in? %>
        <li class="nav-item"><%= link_to "Admin Portal", messages_path %></li>
        <li class="nav-item"><%= link_to "Log out", logout_path, method: :delete %></li>
        <% end %>
      </ul>
  </div>
  </nav>
</head>

<body>
  <%= yield %>
</body>

<footer class="fixed-bottom">
  <div class="card text-center">
    <!-- <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div> -->
    <div class="card-footer text-muted">
      Website by Jessica Poe &copy 2019
    </div>
  </div>
</footer>

</html>